autostart/
dconf/
evolution/
gnome-initial-setup-done
gnome-session/
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
ibus/
libreoffice/
light/
nautilus/
pulse/
Slack/
update-notifier/
user-dirs.dirs
user-dirs.locale
yelp/
mimeapps.list
Code/CachedData/
Code/Cache/
Code/logs/
Code/User/workspaceStorage/
